{% extends "base members.html" %}
{% block content %}

<div class="bg-image" style="background-image: url('mypf\venv\img\winding-road-1556177.jpg');">

<div class="container-fluid my-5 mx-5">
  <form action='/result/members' method="POST">
          <div class="form-group">
            <div class="row mb-3">
              <div class="col-sm-6">
            <input type="text" class="form-control" id="inputform" name="start" placeholder="始点">
          </div>
          <div class="col-sm-2">
          <input type="button" class="btn btn-primary form-control" value="経由地を追加" onclick="addForm()"><br>
          </div>
          </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-6">
          <div id="form_area">
            </div>
        </div>
        </div>
          <div class="form-group">
          <div class="row mb-3">
            <div class="col-sm-6">
          <input type="text" class="form-control" id="" name="end" placeholder="終点"><br>
        </div>
        </div>
        </div>
          <label for="">移動手段</label><br>
          <div class="row">
            <div class="col-sm-2">
        <select class="form-control" name="modeSelect">
          <option value="DRIVING">車</option>
          <option value="WALKING">徒歩</option>
          <option value="BICYCLING">自転車</option>
          <option value="TRANSIT">交通機関</option>
        </select>
        </div>
        <div class="col-sm-4">
      <button type="submit" class="btn btn-success form-control">探索開始</button>
      </div></div>
    </form>
</div>
</div>


{% endblock %}